body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #taskInput {
    flex: 2;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #4caf50;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  button {
    flex: 1;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  


.delete {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px;
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  .delete:hover {
    background-color: #e63939;
  }
  